body {
    background-color: #bcc9c9;
    font-size: 125%;
}

img {
    width: 80%;
}

header {
    height: 35vh;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black, 0px -2px 0 black;
    background-image: url("../img/header-1.png");
    /* border: 2px solid black;
    border-radius: 16px; */
    border-radius: 20px;
    background: #bcc9c9;
    box-shadow:  7px 7px 7px #98a3a3, -7px -7px 7px #e0efef;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    padding-top: 15vh;
}

nav {
    height: 5vh;
    margin-top: 4vh;
    text-align: center;
}

a {
    padding: 5px;
    margin: 25px 10px;
    text-decoration: none;
    color: rgb(2, 23, 44);
    font-weight: bolder;
    border-radius: 90px;
    background: linear-gradient(145deg, #a9b5b5, #c9d7d7);
    box-shadow:  5px 5px 3px #7a8383, -5px -5px 3px #feffff;
    background-color: #bcc9c9;
}

a:hover {
    border-radius: 90px;
    background: linear-gradient(145deg, #c9d7d7, #a9b5b5);
    box-shadow:  5px 5px 3px #7a8383, -5px -5px 3px #feffff;
}

main {
    display: flex;
    flex-wrap: wrap;

}

.card {
    padding: 15px 25px;
    margin: 30px 25px;
    border-radius: 20px;
    background: #bcc9c9;
    box-shadow:  7px 7px 7px #98a3a3, -7px -7px 7px #e0efef;
    width: 40%;
}

.card a {
    display: block;
    text-align: center;
}

.card img {
    border-radius: 15px;
    background: #808080;
    box-shadow:  5px 5px 5px #333333, -5px -5px 5px #cdcdcd;
}

footer {
    height: 5vh;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .card {
        margin: 1vh 0;
        padding: 2vh 5vh;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    #myPic {
        width: 400px;
    }
}